{
  auto_https off
}

:80 {
  redir https://{host}:443{uri} permanent
}

:443 {
  tls internal
  reverse_proxy crm-auto-escola-back:5000
}

:8443 {
  tls internal
  reverse_proxy crm-auto-escola-whats:3001
}
